<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.OriginFileMapper">
    <resultMap id="BaseResultMap" type="model.OriginFile">
        <id column="origin_file_id" property="originFileId" jdbcType="INTEGER"/>
        <result column="file_md5" property="fileMd5" jdbcType="CHAR"/>
        <result column="file_type" property="fileType" jdbcType="VARCHAR"/>
        <result column="file_url" property="fileUrl" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        origin_file_id, file_md5, file_type, file_url, create_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from origin_file
        where origin_file_id = #{originFileId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM origin_file
        WHERE origin_file_id = #{originFileId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="model.OriginFile" useGeneratedKeys="true" keyProperty="originFileId">
        INSERT INTO origin_file (origin_file_id, file_md5,
                                 file_type, file_url,  create_time
        )
        VALUES (#{originFileId,jdbcType=INTEGER}, #{fileMd5,jdbcType=CHAR}, #{fileType,jdbcType=VARCHAR},
                #{fileUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="model.OriginFile">
        insert into origin_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="originFileId != null">
                origin_file_id,
            </if>
            <if test="fileMd5 != null">
                file_md5,
            </if>
            <if test="fileType != null">
                file_type,
            </if>
            <if test="fileUrl != null">
                file_url,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="originFileId != null">
                #{originFileId,jdbcType=INTEGER},
            </if>
            <if test="fileMd5 != null">
                #{fileMd5,jdbcType=CHAR},
            </if>
            <if test="fileType != null">
                #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="fileUrl != null">
                #{fileUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="model.OriginFile">
        update origin_file
        <set>
            <if test="fileMd5 != null">
                file_md5 = #{fileMd5,jdbcType=CHAR},
            </if>
            <if test="fileType != null">
                file_type = #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="fileUrl != null">
                file_url = #{fileUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where origin_file_id = #{originFileId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="model.OriginFile">
        UPDATE origin_file
        SET file_md5    = #{fileMd5,jdbcType=CHAR},
            file_type   = #{fileType,jdbcType=VARCHAR},
            file_url    = #{fileUrl,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        WHERE origin_file_id = #{originFileId,jdbcType=INTEGER}
    </update>


    <select id="getByFileMd5" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM origin_file
        WHERE file_md5 = #{fileMd5,jdbcType=CHAR}
    </select>

</mapper>